.flipdown {
  width: auto;
  height: auto;
}

.flipdown .rotor-group:first-child,
.flipdown .rotor-group-heading {
  display: none;
}

.flipdown .rotor {
  font-size: 3.7rem;
}

.flipdown .rotor-leaf-front, .flipdown .rotor-top {
  line-height: 87px;
}

.flipdown .rotor-leaf-rear, .flipdown .rotor-bottom {
  line-height: 9px;
}
