* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(https://cybermondaybrasil.com.br/cartao-de-credito/_next/static/media/bg.144cf8199e6addab270d2526bc5915c7.jpg);
  background-size: cover;
  background-position: 50%;
}

input {
  width: 100%;
  padding: 0 5px;
  height: 50px;
  text-align: center;
}

li {
  list-style: none;
}

.header {
  height: 85px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 10px 64px;
}

.header .logo {
  height: 40px;
}

.main {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.container {
  padding: 20px 0;
  width: 100%;
  max-width: 846px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_step1 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin: 2px 0 3px;
}

.title1_step1 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin: 2px 0 10px;
}

.title_step2 {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin: 2px 0 10px;
}

.title_step1 h2 {
  display: block;
  text-shadow: 2px -1px rgba(0, 0, 0, .4);
}

.title_step2 h2 {
  display: block;
  text-shadow: 2px -1px rgba(0, 0, 0, .4);
}

.bold {
  font-size: 42px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: strong;
  text-shadow: 2px -1px rgba(0,0,0,.4);
}

.count-down-text {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-shadow: 2px 1px rgba(0,0,0,.4);
  margin-bottom: 20px;
}

.count-down-box {
  width: 400px;
  height: auto;
  margin-bottom: 50px;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.cards img {
  display: block;
  width: 178px;
  border-shadow: 2px 4px 0 0 rgba(0,0,0,.5);
  border-radius: 6px;
}

.step_text {
  font-size: 21px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.slidecontainer {
  margin-bottom: 20px;
  width: 530px;
}

.step2 {
  display: none;
}

.step1_text2 {
  font-size: 33px;
}

.step1_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.btn {
  font-size: 26px;
  background-color: #84c441;
  padding: 0 30px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 50px;
  color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,.5);
}

.form_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 300px;
}

.input-wrapper {
  margin-bottom: 10px;
}

.step2-button {
  font-size: 26px;
  padding: 0 30px;
  height: 50px;
  width: 300px;
  color: #fff;
  background-color: #84c441;
  border-radius: 6px;
  border: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,.5);

}

/*Página 2*/

.header-page2 .logo {
  height: 40px;
}


.header-page2 {
  height: 85px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 24px 64px;
}

.bold-page2 {
  font-size: 32px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin: 2px 0 10px;
}

.title-page2 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin: 30px 0 10px;
  text-shadow: 2px -1px rgba(0,0,0,.4);
}

.cards-page2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 80px;
}

.master {
  width: 35%;
  height: 550px;
  background-color: hsla(0,0%,100%,.7);
  border-radius: 6px;
  padding: 50px 15px 15px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.master-card {
  height: 80px;
  margin: -90px;
  position: absolute;
}

.visa {
  width: 35%;
  height: 550px;
  font-family: Raleway, sans-serif;
  background-color: hsla(0,0%,100%,.7);
  border-radius: 6px;
  padding: 60px 15px 15px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.visa-card {
  height: 90px;
  margin: -110px;
  position: absolute;
}

.text-card-carrefour {
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  margin-bottom: 10px;
}

.text-card-atacadao {
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  margin-bottom: 10px;

}
.master h2 {
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  padding-top: 12px;
}

.visa h2 {
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
}

.page2-list {
  padding-left: 0;
}

.page2-list li {
  padding-left: 32px;
  background-image: url(../images/list-style.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 32px;

}

.button1-page2 {
  font-size: 26px;
  padding: 0 30px;
  height: 50px;
  width: 200px;
  margin-top: 29px;
  color: #fff;
  background-color: #84c441;
  border-radius: 6px;
  border: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,.5);
}

.button2-page2 {
  font-size: 26px;
  padding: 0 30px;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  color: #fff;
  background-color: #84c441;
  border-radius: 6px;
  border: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,.5);
}

.padding-button {
  margin-bottom: 25px;
  list-style-image: ;
}

/*Slider*/

input:focus{
  outline: none;
}

.slider {
  -webkit-appearance: none;
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(8*28px + var(--ratio)*(100% - 28px));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 28px;
  background: transparent;
  font: 1em/1 arial, sans-serif;
  border: none;
}

.slider, .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.slider::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  width: 28px;
  height: 8px;
  background: #e7d55f;
}

.slider::-moz-range-track {
  box-sizing: border-box;
  border: none;
  height: 8px;
  background: #e7d55f;
}

.slider::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 26px;
  padding-top: 1px;
  background: #e7d55f;
}

.slider::-moz-range-progress {
  height: 0.5em;
  /*background: #7b1c1a;*/
}

.slider::-ms-fill-lower {
  height: 0.5em;
  background: #7b1c1a;
}

.slider::-webkit-slider-thumb {
  margin-top: -0.550em;
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 26px;
  padding-top: 1px;
  border-radius: 50%;
  background: #7b1c1a;
}

/* selected */
.slider::-moz-range-thumb {
  background: transparent;
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 26px;
  padding-top: 1px;
  border-radius: 50%;
}

.slider::-ms-thumb {
  background: #7b1c1a;
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 26px;
  padding-top: 1px;
  border-radius: 50%;
}

.slider::-ms-tooltip {
  display: none;
}

#tickmarks {
  width: calc(100% + 2px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: -31px -1px 0;
}

#tickmarks p {
  background: #3992f1;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
  text-align: center;
  color: #fff;
  width: 27px;
  height: 26px;
  padding-top: 1px;
  border-radius: 50%;
  border: 0.5px solid #043c5e;
}

#tickmarks p.selected {
  background: #fff;
  color: #3992f1;
  border-color: #3f6894;
}

@media only screen and (max-width: 600px) {
  .btn {
    font-size: 21px;
    height: 43px;
    width: 144px;
    padding: 0;
  }

  .header{
    height: 102px;
  }

  .title_step1 {
    font-size: 18px;
    margin: 2px 0 -4px;
  }
  .title1_step1 {
    font-size: 30px;
  }
  .cards img {
    width: 135px;
    margin-bottom: 15px;
  }
  .cards {
    padding: 0 84px;
  }
  .count-down-text {
    font-size: 13px;
  }
  .count-down-box {
    max-width: 350px;
  }
  .step_text {
    font-size: 17px;
  }

  .slidecontainer {
    max-width: 350px;
    margin-bottom: 80px;
  }

  .master {
    width: 80%;
    height: 548px;
  }

  .visa {
    width: 80%;
    height: 561px;
  }

  .button1-page2 {
    margin-top: -16px;
  }

  .button2-page2 {
    margin-top: 0;
  }

  .title-page2 {
    font-size: 42px;
    margin: 30px 0 -4px;
  }

  .bold-page2 {
    font-size: 24px;
  }

}






